<div class="col-sm-6 signup">
	<h1>{{SIGNUP_FORM_TEXT_TITLE}}</h1>
	{{SIGNUP_FORM_TEXT_CONTENT}}
	<form action="http://appsbylift.us2.list-manage.com/subscribe/post?u=274b7588cdec7e982eeaacd6e&amp;id=28013359a1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<div class="mc-field-group">
			<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>	
			<div class="clear">
				<input type="submit" value="Send Free Tips!" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</form>
		<p class="grey text-center"><small>We'll never send you spam. Cross our hearts.</small></p>
									<!--End mc_embed_signup-->
</div>
