<div id="carousel-example-generic" class="carousel slide">
  <!-- Wrapper for slides -->
  <div class="carousel-inner post-featured">
	{% set f_count = 0%}
	{% for article in articles %}
		{% if article.type | upper == "FEATURED" %}
		{% set f_count =  f_count + 1 %}
		{% if f_count == 1%}
		<div class="item active">
		{% else%}
		<div class="item">
		{% endif %}
			<h1>{{article.title}}</h1>
			<h2>{{article.subtitle}}</h2>
			<div class="mailchimp">
				<a href="#" class="button modal-signup" data-reveal-id="modal-signup">Let's Get Started!</a>
			</div>
			<img src="{{SITEURL}}/images/{{article.image}}" alt="{{article.title}}">
		</div>
		{% endif %}
	{% endfor %}
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>
