{% extends "base.html" %}
{% block main %}
<section class="start blog">
<div class="start-gradient">
	<div class="container">
		<a href="/"><img src="{{SITEURL}}/theme/images/logo.png" alt="Static Buildup" class="logo"/></a>	
		<h1><a href="{{SITEURL}}">The Official Joshua Blog</a></h1>
	</div>
</div>
</section>
<section class="content">
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				{% for article in (articles_page.object_list if articles_page else articles) %}
				<article>
					<h1><a href="{{SITEURL}}/{{article.url}}">{{article.title}}</a></h1>
					{{article.summary}}
				</article>
				{% endfor %}
				{% include "includes/pagination.html" %}
			</div>
			<div class="col-sm-4 col-sm-offset-1">
				<aside>
				<section class="about">
					<h1>About Joshua</h1>
					<p><strong>Harpoon</strong> is an app for freelancers that helps eliminate the stress and uncertainty of making enough money.
					</p>
					<a href="#" class="button modal-signup">I'm Interested!</a>

				</section>
				<section class="follow">
				<p>
				<a href="{{TWITTER_URL}}" target="_blank"><i class="glyphicon glyphicon-user"></i>{{FOLLOW_TEXT}} </a>
				</p>
				</section>
				<section class="recent">
					<h1>Recent Articles</h1>
					{% include "includes/recent_posts.html" %}
				</section>
				</aside>
			</div>
		</div>
	</div>
</section>
{% endblock %}

