{% extends "base.html" %}
{% block main%}
<section class="start">
<div class="start-gradient">
	<div class="container">
		<a href="/"><img class="logo" src="/theme/images/logo.png" alt="Static Buildup" /></a>	
		{% include "includes/post_featured.html" %}
	</div>
</div>
</section>
<section class="introduce">
					<div class="container">
						<div class="row">
							{% include "includes/post_introduction.html" %}
							{% include "includes/introduce_signup.html" %}
						</div>
					</div>
				</section>
<section class="features">
	<div class="container">
		{% include "includes/post_portfolio.html" %}
	</div>
</section>
{% endblock %}
