$header-color: #2ab3bd;
$footer-color: #2ab3bd;

$featured-top-color: #2ab3bd;
$featured-bottom-color: white;

$blue-color: #2C82AE;
$a-color: #50afd7;
$button-color: #50afd7;

$header-size: 1.2em;
$footer-size: 1.2em;

$header-font-color: white;
$footer-font-color: white;

/**/
a, a:visited,a:hover  {
	text-decoration: none;
	outline:0;
	color: $a-color;
}

p {
	margin: 0 0 20px 0;	
}

li {
	list-style: none;
}

.grey {
	color: grey;
}

.row {
	margin: 0px;
}

.button {
	background: $button-color;
	color: white !important;
	font-weight: bold;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	padding: 14px 40px 21px;
	font: 22px/normal "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-box-shadow: inset 0 -3px 0 $button-color;
	-webkit-box-shadow: inset 0 -3px 0 $button-color;
	box-shadow: inset 0 -3px 0 $button-color;
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
	-webkit-appearance: none;
}

.signup {
	background-color: rgb(241, 241, 241);
	border: 1px solid rgb(221, 221, 221);
	padding: 20px 30px 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	margin-bottom: 20px;
	
	h1 {
		font-size: 24px;
		line-height: 36px;
		padding-right: 26px;
		margin-bottom: 11px;
		font-weight: bold;
	}

	p {
		font-size: 16px !important;
		line-height: 26px !important;
	}

	input {
		margin-bottom: 20px;
	}

	.button {
		width: 100%;
	}
}

.left,
.right{
	background-image: none !important;
}

/*body*/
body {
	background: #2C82AE;
	font: 16px/26px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #3E4754;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

/*header*/
#header {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $header-color;

        h1 {
                float: left;
                padding-left: 20px;
		font-weight: bold;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 100%;
		a {
			font-size: $header-size;
			color: $header-font-color;
		}
		
                        
        }

        nav {
                float: right;
                padding-right: 20px;

                li {
                      float: right;
                      margin-left: 30px;
		      list-style: none;
		      a {
		      	font-size: $header-size;
			color: $header-font-color;
		      }
		      
                }
        }

}

#main {
	.start {
		background: -webkit-linear-gradient(top, $featured-top-color, $featured-bottom-color);
		background: -moz-linear-gradient(top, $featured-top-color, $featured-bottom-color);
		background: -o-linear-gradient(top, $featured-top-color, $featured-bottom-color);
		text-align: center;

		.start-gradient {
			padding-top: 30px;
			position: relative;

			.carousel {
				position: static;
				.icon-prev, .icon-next {
					font-size: 60px;
				}
			}
		}
		.container {
			.logo{
				width: 75px;
				height: 75px;
				margin-bottom: 15px;	
				display: inline;
			}


			h1  {
				font-weight: normal;		
				font-style: normal;
				color: #fff;
				margin-bottom: 8px;
				font-size: 46px;
				line-height: 56px;
			}

			h2 {
				color: #ABCDDF;
				font-weight: normal;
				font-size: 24px;
				line-height: 36px;
			}

			.button {
				margin-top: 30px;
				margin-bottom: 30px;
				padding-right: 50px;
				padding-left: 50px;
			}
		}
	}		

	.introduce {
		padding-top: 60px;
		padding-bottom: 60px;
		background: rgb(255, 255, 255); 

		p {
			font-size: 24px;
			line-height: 36px;
		}

		small {
			font-size: 60%;		
		}
		
	}
	.features {
		background-color: rgb(244, 243, 243);
		border-top: 1px solid rgb(221, 221, 221);
		padding-top: 60px;
		padding-bottom: 40px;
		h3 {
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 0;
			font-weight: bold;
			
			i {
				margin-right: 6px;
				color: rgb(157, 166, 179);
			}
		}
		small {
			font-size: 60%;		
		}
	}

	.blog {
		padding-bottom: 120px;
	}
	.content {
		padding-top: 30px;
		padding-bottom: 30px;
		background: rgb(255, 255, 255);

		article {
			margin-bottom: 40px;
			h1 {
				font-size: 36px;
				line-height: 44px;
				font-weight: bold;
			}

		}

		section {
			padding: 20px;
			margin-bottom: 20px;
			border: 1px solid rgb(204, 204, 204);
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		.share {
			h1 {
				font-size: 22px;
				font-weight: bold;
				line-height: 34px;
				margin-bottom: 6px;
				margin-top: 6px;
			}
		}

		.about {
			padding: 12px 20px 20px 20px;

			h1 {
				font-size: 22px;
				line-height: 34px;
				margin-bottom: 6px;
				margin-top: 6px;
			}
		}

		.about {
			padding: 12px 20px 20px 20px;
				font-weight: bold;
			}
			p {
				font-size: 14px;
				line-height: 24px;
			}
		}

		.follow {
			p {
				margin-bottom: 0px;
				font-size: 18px;
				line-height: 24px;

				i {
					margin-right: 4px;
					//line-height: 12px;
				}
			}
		}

		.recent {
			padding: 12px 20px 20px 20px;

			h1 {
				font-size: 22px;
				font-weight: bold;
				line-height: 34px;
				margin-bottom: 6px;
				margin-top: 6px;
			}

			ul {
				margin-bottom: 2px;
				list-style: none outside;

				li {
					line-height: 22px;
					margin-bottom: 12px;
				}
			}

		}
}


footer {
	background-color: $footer-color;
	padding-top: 30px;
	padding-bottom: 30px;
	color: $footer-font-color;

	a {
		color: $footer-font-color !important;
	}

	nav {
		float: left;
		padding-left: 10px;
		
		ul li{
			float: left;
			margin-right: 20px;
			margin-bottom: 0;
			a {
				font-size: $footer-size;
			}
			
		}

	}
	.copyright {
		float: right;
		margin-bottom: 0;
		padding-right: 10px;
		font-size: $footer-size;
		a {
			font-size: 1em;		
		}
	}
	
}

.wrapper{
	top: 100px;
	left: 50%;
	margin-left: -210px;
	width: 420px;
	background: #fff;
	position: absolute;
	z-index: 101;
	padding: 30px 40px 34px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	visibility: hidden;
	input {
		margin-bottom: 20px;
	}
	.button {
		width: 100%;
		color: white;
	}
	.modal-close {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 8px;
		right: 11px;
		color: #aaa;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
	}
}

.reveal-modal-bg{
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.8);
	z-index: 100;
	top: 0;
	left: 0;
	h1 {
		font-size: 24px;
		font-weight: bold;
		line-height: 36px;
		padding-right: 26px;
		margin-bottom: 11px;
	}
}

@media only screen and (min-width: 960px) {
	.container {
		width: 960px;
		margin: 0 auto;
		padding: 0;
	}
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
	.container {
		width: 768px;
		margin: 0 auto;
		padding: 0;
	}
	#main {
		.content {
			.container {
				.about {
					a{
						font-size: 14px;
					}
				}
			}
		}
	
	}
}

@media only screen and (max-width: 767px) and (min-width: 480px){
	.container {
		width: 420px;
		margin: 0 auto;
		padding: 0;
	}

	#main {
		.start {
			.container {
				h1 {
					font-size: 40px;
					line-height: 48px;
				}
			}
		}
	}

	footer {
		text-align: center;
		nav {
			float: none;
			ul li {
				float: none;
				display: inline;
			}
		}
		.copyright {
			float: none;
		}
	}
}

@media only screen and (max-width: 479px ) {
	.container {
		width: 300px;
		margin: 0 auto;
		padding: 0;

	}
	#header {
		h1 {
			padding-left: 0px;
		}
		nav {
			padding-right: 0px;
		}
		nav li {
			margin-left: 15px;
		}
	}
	#main {
		.start {
			.container {
				h1 {
					font-size: 40px;
					line-height: 48px;
				}
			}
		}
	}

	footer {
		text-align: center;
		nav {
			float: none;
			ul li {
				float: none;
				display: inline;
			}
		}
		.copyright {
			float: none;
		}
	}

	.wrapper {
			margin-left: -150px;
			width: 300px;
	}
}
