/**/
a, a:visited, a:hover {
  text-decoration: none;
  outline: 0;
  color: #50afd7; }

p {
  margin: 0 0 20px 0; }

li {
  list-style: none; }

.grey {
  color: grey; }

.row {
  margin: 0px; }

.button {
  background: #50afd7;
  color: white !important;
  font-weight: bold;
  border: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  padding: 14px 40px 21px;
  font: 22px/normal "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-box-shadow: inset 0 -3px 0 #50afd7;
  -webkit-box-shadow: inset 0 -3px 0 #50afd7;
  box-shadow: inset 0 -3px 0 #50afd7;
  -webkit-transition: background-color .15s ease-in-out;
  -moz-transition: background-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out;
  -webkit-appearance: none; }

.signup {
  background-color: #f1f1f1;
  border: 1px solid #dddddd;
  padding: 20px 30px 30px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px; }
  .signup h1 {
    font-size: 24px;
    line-height: 36px;
    padding-right: 26px;
    margin-bottom: 11px;
    font-weight: bold; }
  .signup p {
    font-size: 16px !important;
    line-height: 26px !important; }
  .signup input {
    margin-bottom: 20px; }
  .signup .button {
    width: 100%; }

.carousel {
  position: static; }
  .carousel .icon-prev, .carousel .icon-next {
    font-size: 60px; }

a.carousel-control {
  color: white;
  width: 2%; }

.left,
.right {
  background-image: none !important; }

/*body*/
body {
  background: #2C82AE;
  font: 16px/26px "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3E4754;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

/*header*/
#header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2ab3bd; }
  #header h1 {
    float: left;
    padding-left: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 100%; }
    #header h1 a {
      font-size: 1.2em;
      color: white; }
  #header nav {
    float: right;
    padding-right: 20px; }
    #header nav li {
      float: right;
      margin-left: 30px;
      list-style: none; }
      #header nav li a {
        font-size: 1.2em;
        color: white; }

#main .start {
  background: -webkit-linear-gradient(top, #2ab3bd, white);
  background: -moz-linear-gradient(top, #2ab3bd, white);
  background: -o-linear-gradient(top, #2ab3bd, white);
  text-align: center; }
  #main .start .start-gradient {
    padding-top: 30px;
    position: relative; }
  #main .start .container .logo {
    width: 75px;
    height: 75px;
    margin-bottom: 15px;
    display: inline; }
  #main .start .container h1 {
    font-weight: normal;
    font-style: normal;
    color: #fff;
    margin-bottom: 8px;
    font-size: 46px;
    line-height: 56px; }
  #main .start .container h2 {
    color: #50afd7;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px; }
  #main .start .container .button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px; }
#main .introduce {
  padding-top: 60px;
  padding-bottom: 60px;
  background: white; }
  #main .introduce p {
    font-size: 24px;
    line-height: 36px; }
  #main .introduce small {
    font-size: 60%; }
#main .features {
  background-color: #f4f3f3;
  border-top: 1px solid #dddddd;
  padding-top: 60px;
  padding-bottom: 40px; }
  #main .features h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: bold; }
    #main .features h3 i {
      margin-right: 6px;
      color: #9da6b3; }
  #main .features small {
    font-size: 60%; }
#main .reviewer {
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative; }
  #main .reviewer .content {
    position: relative;
    border: 1px solid #f2f2f2;
    padding: 30px;
    border-radius: 2px;
    background-color: #f0f0f0; }
    #main .reviewer .content p {
      font-weight: 300;
      font-size: 19px; }
  #main .reviewer .content:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 15px solid;
    border-color: #f0f0f0 transparent transparent  transparent;
    position: absolute;
    bottom: -31px;
    left: 18px; }
  #main .reviewer .people {
    margin-top: 20px;
    margin-bottom: 20px; }
    #main .reviewer .people .avatar {
      margin-right: 15px; }
      #main .reviewer .people .avatar img {
        width: 70px;
        height: 70px;
        border-radius: 50%; }
    #main .reviewer .people .name {
      padding-top: 1px;
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 40px; }
#main .blog {
  padding-bottom: 120px; }
#main .content {
  padding-top: 30px;
  padding-bottom: 30px;
  background: white; }
  #main .content article {
    margin-bottom: 40px; }
    #main .content article h1 {
      font-size: 36px;
      line-height: 44px;
      font-weight: bold; }
  #main .content section {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  #main .content .share h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 6px;
    margin-top: 6px; }
  #main .content .about {
    padding: 12px 20px 20px 20px; }
    #main .content .about h1 {
      font-size: 22px;
      line-height: 34px;
      margin-bottom: 6px;
      margin-top: 6px; }
  #main .content .about {
    padding: 12px 20px 20px 20px;
    font-weight: bold; }
  #main .content p {
    font-size: 14px;
    line-height: 24px; }
#main .follow p {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px; }
  #main .follow p i {
    margin-right: 4px; }
#main .recent {
  padding: 12px 20px 20px 20px; }
  #main .recent h1 {
    font-size: 22px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 6px;
    margin-top: 6px; }
  #main .recent ul {
    margin-bottom: 2px;
    list-style: none outside; }
    #main .recent ul li {
      line-height: 22px;
      margin-bottom: 12px; }

footer {
  background-color: #2ab3bd;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white; }
  footer a {
    color: white !important; }
  footer nav {
    float: left;
    padding-left: 10px; }
    footer nav ul li {
      float: left;
      margin-right: 20px;
      margin-bottom: 0; }
      footer nav ul li a {
        font-size: 1.2em; }
  footer .copyright {
    float: right;
    margin-bottom: 0;
    padding-right: 10px;
    font-size: 1.2em; }
    footer .copyright a {
      font-size: 1em; }

.wrapper {
  top: 100px;
  left: 50%;
  margin-left: -210px;
  width: 420px;
  background: #fff;
  position: absolute;
  z-index: 101;
  padding: 30px 40px 34px;
  border: 1px solid #CCCCCC;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  visibility: hidden; }
  .wrapper input {
    margin-bottom: 20px; }
  .wrapper .button {
    width: 100%;
    color: white; }
  .wrapper .modal-close {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, 0.6);
    font-weight: bold;
    cursor: pointer; }

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 100;
  top: 0;
  left: 0; }
  .reveal-modal-bg h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    padding-right: 26px;
    margin-bottom: 11px; }

@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 0; } }
@media only screen and (max-width: 959px) and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0; }

  #main .content .container .about a {
    font-size: 14px; } }
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .container {
    width: 420px;
    margin: 0 auto;
    padding: 0; }

  #main .start .container h1 {
    font-size: 40px;
    line-height: 48px; }

  footer {
    text-align: center; }
    footer nav {
      float: none; }
      footer nav ul li {
        float: none;
        display: inline; }
    footer .copyright {
      float: none; } }
@media only screen and (max-width: 479px) {
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 0; }

  #header h1 {
    padding-left: 0px; }
  #header nav {
    padding-right: 0px; }
  #header nav li {
    margin-left: 15px; }

  #main .start .container h1 {
    font-size: 40px;
    line-height: 48px; }

  footer {
    text-align: center; }
    footer nav {
      float: none; }
      footer nav ul li {
        float: none;
        display: inline; }
    footer .copyright {
      float: none; }

  .wrapper {
    margin-left: -150px;
    width: 300px; } }
